{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Sight</title>
    <link rel="stylesheet" href="{% static 'styles/view_sight.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts/view_sight.js'%}"></script>
</head>
<body>
    <div id="top-bar">
        <div id="left-side-bar">
            <h1 id="site-title"> Sasquatch Websighting</h1>
        </div>
        <div id="right-side-bar">
            <h3 id="site-username">Viewing Sight</h1>
            <button onclick="returnHome()">Return to home</button>
            <button onclick="logout()">logout</button>
        </div>
    </div>
    <div id="content">
        <h2 id="header">Location & Date</h2>

        <p>What happened:</p>


        <p id="description">Description</p>

        <h3 id="reported-by">Reported by1</h3>
    </div>
</body>
</html>