{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Recipes</title>
    <link rel="stylesheet" href="{% static 'styles/view_recipes.css' %}">
</head>
<body>
    <h1>Welcome Aqua</h1>
    
    <div id="top-bar">
        <p>All posted recipes:</p>

        <button id="recipes-button">back to recipes</button>
        <button id="logout-button">logout</button>
    </div>

    <div id="content">
        
    </div>
</body>
</html>