#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#top-bar p {
    margin: 0;
}

#top-bar .right-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

#top-bar button {
    padding: 10px;
    position: static;
}

